[toolchain]
anchor_version = "0.32.1"
features = []

[features]
resolution = true
skip-lint = false

[programs.localnet]
hangman = "91kKNMwRfngRgNTPgcBsjbfamFQMiZo8iW9Gmkv3UE1S"

[registry]
url = "https://api.apr.anchor.so"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
shutdown_wait = 2000
